<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Win" version="4.8.20232.620" targetFramework="net48" />
  <package id="C1.Win.C1Command" version="4.8.20232.620" targetFramework="net48" />
  <package id="C1.Win.C1Input" version="4.8.20232.620" targetFramework="net48" />
</packages>